
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><h4>NPS</h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Наши работы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>



<!-- Contacts -->
<section class="container-fluide container-contacts">
  <div class="row row-content">
    <div class="col-md-4">
      <h4>Контакты</h4>
      <i class="fas fa-phone fa-lg">  (093)275-43-80</i><br/>
      <a href="#"><i class="fab fa-facebook-f fa-lg"> http://facebook/nps</i></a><br/>
      <a href="#"><i class="fab fa-instagram fa-lg"></i></a><br/>
      <div class="social"></div>
    </div>
    <div class="col-md-8 content--map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10155.641543794873!2d30.60614!3d50.480012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa54ef659f5f873b8!2z0KHRgtGD0LTQuNGPIE5QUw!5e0!3m2!1sru!2sua!4v1537470516475" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>
